<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>WSDS</title>
    </head>
    <body>
        <header>
            <a href="/">
                <div class="headerwrapper">
                    <h1>Web&nbsp;Security<br/>Demo&nbsp;Site</h1>
                </div>
            </a>
        </header>
        
        <div class="navBar">
            <div class="navWrapper">
                <ul>
                    <li>
                        <a class="navText" href="/login">로그인</a>
                    </li>
                    <li>
                        <a class="navText" href="/write/category">카테고리 추가</a>
                    </li>
                    <li>
                        <a class="navText" href="/admin">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <h2 class="title">Category</h2>
        <section class="cardContainer">
            <div class="cardWrapper">
                <div class="card">
                    <a href="/category">
                        <h2>XSS</h2>
                        <section class="content">
                            문서에 악성코드를 기입하는 공격입니다.
                        </section>
                        <section class="image">
                            <img src="img/antivirus.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
                <div class="card">
                    <a href="#b">
                        <h2>XSS</h2>
                        <section class="content">
                            subtext
                        </section>
                        <section class="image">
                            <img src="img/protection.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
                <div class="card">
                    <a href="#c">
                        <h2>XSS</h2>
                        <section class="content">
                            subtext subtext subtext subtext subtext subtext subtext<br/>
                            subtext subtext subtext subtext subtext subtext subtext<br/>
                        </section>
                        <section class="image">
                            <img src="img/network.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
            </div>   <!-- cardWrapper -->
            <div class="cardWrapper">
                <div class="card">
                    <a href="#d">
                        <h2>XSS</h2>
                        <section class="content">
                            문서에 악성코드를 기입하는 공격입니다.
                        </section>
                        <section class="image">
                            <img src="img/danger.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
                <div class="card">
                    <a href="#e">
                        <h2>XSS</h2>
                        <section class="content">
                            subtext
                        </section>
                        <section class="image">
                            <img src="img/computer1.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
                <div class="card">
                    <a href="#f">
                        <h2>XSS</h2>
                        <section class="content">
                            subtext subtext subtext subtext subtext subtext subtext<br/>
                            subtext subtext subtext subtext subtext subtext subtext<br/>
                        </section>
                        <section class="image">
                            <img src="img/ui.png" />
                        </section>
                        <div>more</div>
                    </a>
                </div>
            </div>  <!-- cardWrapper -->
        </section>  <!-- cardContainer -->
        <footer>푸터</footer>
        <script>
        
        </script>
    </body>
</html>