<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>WSDS</title>
    </head>
    <body>
        <header>
            <a href="/">
                <div class="headerwrapper">
                    <h1>Web&nbsp;Security<br/>Demo&nbsp;Site</h1>
                </div>
            </a>
        </header>
        
        <div class="navBar">
            <div class="navWrapper">
                <ul>
                    <li>
                        <a class="navText" href="/login">로그인</a>
                    </li>
                    <li>
                        <a class="navText" href="/write/category">카테고리 추가</a>
                    </li>
                    <li>
                        <a class="navText" href="/admin">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <h2 class="title">Category</h2>
        <section class="cardContainer" id="cardTarget">
            <div class="cardWrapper">
            </div>   <!-- cardWrapper -->
         
        </section>  <!-- cardContainer -->
        <footer>푸터</footer>
        
        <script type="text/javascript" src="js/index.js" ></script>
    </body>
</html>