<div id="writeContainer">
    <div id="writeWrapper">
        <div id="inputContainer">
            <label for="title">제목</label>
            <div class="titleWrap">
                <input type="text" id="title" value="" name="title" />
            </div>
            <label for="content">내용</label>
            <div class="contentWrap">
                <textarea type="text" id="content" value="" name="content"></textarea>
            </div>
        </div>
        <div class="treeContainer">
            <div class="">
                <div id="fileDropZone">
                    <div class="text">
                            이곳에 첨부할 파일을<br/>드래그하세요.
                    </div>
                </div>     
                <div class="flex">
                    <div class="treeContainer">
                        <div class="treeWrapper">
                            <div class="text">Directory Tree</div>
                            <div id="tree"></div>
                        </div>
                        <div class="siteTab">
                            <ul id="tabWrap">
                            </ul>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div>
            <button id="submitBtn">전송</button>
        </div>
    </div>
</div>




 