<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/share.css" />
        <link rel="stylesheet" type="text/css" href="css/login.css" />

	</head>
	<body>
		<header>
			<a href="/">
			    <div class="headerWrapper">
					<div id="indexText">WSDS</div>
				</div>
			</a>
        </header>
        <div id="formContainer">
            <div id="formWrapper">
                <div id="formText">
                    Login
                </div>
                <form action="/login/check" method="POST" id="loginForm">
                    <div class="inputWrapper">
                        <input type="text" id="id" name="id" placeholder="아이디" />
                        <label></label>
                    </div>
                    <div class="inputWrapper">
                        <input type="password" id="pw" name="password" placeholder="비밀번호"/>
                    </div>
                    <div class="inputWrapper">
                        <input type="submit" id="submitBtn" value="로그인"/>
                    </div>
                </form>
                <div id="loginMessage" class="loginMessageOff">
                </div>
            </div>
        </div>



		<footer>
			푸터
		</footer>
        <script type="text/javascript" src="js/login.js"></script>
	</body>
</html>