<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <!-- include libraries(jQuery, bootstrap) -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
        
        <!-- include summernote css/js -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
        
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/share.css" />
        <link rel="stylesheet" type="text/css" href="css/write.css" />
    </head>
    <body>
        <header>
            <a href="/">
                <div class="headerWrapper">
                    <div id="indexText">WSDS</div>
                </div>
            </a>
        </header>
        <div class="container">
            <!-- Option Selector -->
            <div class="btn-group margin">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    글 종류 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Sample</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <!-- Title Input -->
            <div class="input-group margin">
                <span class="input-group-addon" id="sizing-addon2">샘플 제목</span>
                <input type="text" class="form-control" placeholder="입력" aria-describedby="sizing-addon2">
            </div>

            <!-- Editor -->
            <div class="editor margin">
                <div id="summernote">Hello Summernote</div>
            </div>

            <!-- attachment Button -->
            <button type="button" class="btn btn-primary margin">첨부파일</button>

            <!-- Submit Button -->
            <button type="button" class="btn btn-success margin">완료</button>

            
        </div>

        
        <script type="text/javascript">
            $(document).ready(function() {
                $('#summernote').summernote({
                    height: 600,                 // set editor height
                    width: 700,             // set maximum height of editor
                    focus: true                  // set focus to editable area after initializing summernote
                });
            });
        </script>
        
    </body>
</html>