label{
    color : rgb(136, 89, 197);
}
input[type="text"]:focus{
    outline : none;
}
#writeContainer{
    display:flex;
    justify-content:center;
    margin : 50px 0px;
}
.inputWrapper{
    border-bottom : 1px solid rgb(201, 113, 193);
    margin-bottom : 20px;

}
.colWrap{
    display:flex;
    flex-direction: column;
    align-items : left;
}

#title{
    width : 95%;
    height : 30px;
    border : 0px;
}
.titleWrap{
    display:flex;
    width : 500px;
    margin : 15px 0px 25px 0px;
    padding : 8px 12px;
    border : 1px solid rgb(199, 145, 235);
    border-radius : 10px;
    box-shadow: 1px 1px 2px inset rgb(190, 137, 214);
}

#summary{
    width : 95%;
    height : 30px;
    border : 0px;
}
.contentWrap{
    display:flex;
    width : 600px;
    margin : 15px 0px 25px 0px;
    padding : 8px 12px;
    border : 1px solid rgb(199, 145, 235);
    border-radius : 10px;
    box-shadow: 1px 1px 2px inset rgb(190, 137, 214);
}
#content{
    width : 95%;
    height : 100px;
    border : 0px;
}
#content:focus{
    outline:none;
}
#submitBtn{
    width : 70px;
    padding : 10px 0px;
    border : 0px;
    background-color : rgb(159, 72, 177);
    border-radius: 5px;
    color:white;
    box-shadow: 2px 2px 1px 2px rgb(110, 49, 102);
    float:right;
    cursor : pointer;
}
#submitBtn:hover{
    position: relative;
    top : -3px;
}

